<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_sanjose_views_caja:org.sanjose.views.caja">
 </head>
 <body>
  <vaadin-vertical-layout spacing id="verticalMain" width="1000px" height="675px" margin>
   <vaadin-horizontal-layout spacing height="40px" margin-top margin-bottom _id="horiz1" :center>
    <vaadin-horizontal-layout spacing :center>
     <vaadin-label size-auto plain-text>
       Operaciones del día: 
     </vaadin-label>
     <vaadin-date-field _id="fechaDesde"></vaadin-date-field>
     <vaadin-label size-auto plain-text>
       al 
     </vaadin-label>
     <vaadin-date-field _id="fechaHasta"></vaadin-date-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-label size-auto plain-text>
       Moneda: 
     </vaadin-label>
     <vaadin-combo-box input-prompt="Filtrar por Moneda" item-caption-mode="id" width="65px" _id="selMoneda">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
     </vaadin-combo-box>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-label size-auto plain-text>
       Saldo actual de caja: 
     </vaadin-label>
     <vaadin-text-field _id="saldoCaja"></vaadin-text-field>
     <vaadin-button plain-text _id="btnDetallesSaldos">
       Detalles de saldos 
     </vaadin-button>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-button plain-text _id="btnReporteImprimirCaja" :right>
       Reporte de caja 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout size-auto></vaadin-vertical-layout>
   <vaadin-horizontal-layout height-full _id="horiz4" :center :expand>
    <vaadin-vertical-layout size-auto>
     <vaadin-horizontal-layout width-full height="23px" _id="horiz3">
      <vaadin-combo-box input-prompt="Filtrar por Caja" item-caption-mode="id" width="280px" _id="selFiltroCaja">
       <option>Option 1</option>
       <option>Option 2</option>
       <option>Option 3</option>
      </vaadin-combo-box>
      <vaadin-horizontal-layout :center>
       <vaadin-button visible="false" plain-text _id="nuevaTransferencia">
         Nuevo Cargo/Abono 
       </vaadin-button>
       <vaadin-button visible="false" plain-text _id="nuevoComprobante">
         Nuevo comprobante 
       </vaadin-button>
       <vaadin-button plain-text _id="btnEnviarContabilidad" :right>
         Enviar a contabilidad 
       </vaadin-button>
      </vaadin-horizontal-layout>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout>
      <vaadin-grid editor-cancel-caption="Anular" width="800px" height="600px" _id="gridCaja" :expand></vaadin-grid>
      <vaadin-vertical-layout visible="false" spacing size-auto margin :middle>
       <vaadin-button width="131px" height="22px" plain-text _id="btnVerImprimir">
         Ver/Imprimir 
       </vaadin-button>
       <vaadin-button width="131px" plain-text _id="btnModificar">
         Modificar 
       </vaadin-button>
       <vaadin-button width="130px" plain-text _id="btnEliminar">
         Eliminar 
       </vaadin-button>
      </vaadin-vertical-layout>
      <org_sanjose_views_caja-comprobante-view width="700px" _id="comprobView" :right></org_sanjose_views_caja-comprobante-view>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>