<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin7-vertical-layout spacing size-full margin> 
   <vaadin7-horizontal-layout spacing _id="horizontalCabeza"> 
    <vaadin7-date-field _id="fechaDesde"></vaadin7-date-field> 
    <vaadin7-label size-auto plain-text _id="labFechas">
      - 
    </vaadin7-label> 
    <vaadin7-date-field _id="fechaHasta"></vaadin7-date-field> 
    <vaadin-button plain-text _id="nuevoComprobante">
      Nuevo 
    </vaadin-button> 
    <vaadin-button plain-text _id="editarBtn">
      Ver detalle 
    </vaadin-button> 
    <vaadin-button plain-text _id="enviarBtn">
      Enviar a contabilidad 
    </vaadin-button> 
    <vaadin-button plain-text _id="responsablesBtn">
      Responsables 
    </vaadin-button> 
    <vaadin-button plain-text _id="imprimirBtn">
      Imprimir Voucher 
    </vaadin-button> 
   </vaadin7-horizontal-layout> 
   <vaadin7-grid caption="Operaciones de Caja" editor-save-caption="Guardar" editor-cancel-caption="Anular" size-full editable _id="gridCaja" :expand></vaadin7-grid> 
  </vaadin7-vertical-layout>  
 </body>
</html>