<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_vaadin_addons:org.vaadin.addons">
  <meta name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head>
 <body>
  <vaadin-css-layout style-name="root-layout form-template-vivid" responsive>
   <vaadin-vertical-layout style-name="billing-formlayout" _id="datosGenVertLayout">
    <vaadin-vertical-layout height="20px" _id="encabezadoVertLayout">
     <vaadin-horizontal-layout width-full>
      <vaadin-horizontal-layout>
       <vaadin-label size-auto plain-text>
         Operación N° 01 - 
       </vaadin-label>
       <vaadin-text-field validation-visible="false" enabled="false" input-prompt="" style-name="form-textfield" width="105px" height="25px" _id="numVoucher"></vaadin-text-field>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout>
       <vaadin-label width="148px" height="21px" plain-text>
         Enviado a contabilidad: 
       </vaadin-label>
       <org_vaadin_addons-css-check-box enabled="false" width="42px" _id="chkEnviado"></org_vaadin_addons-css-check-box>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout>
       <vaadin-label size-auto plain-text>
         N° en contabilidad 
       </vaadin-label>
       <vaadin-text-field description="Origen en contabilidad" enabled="false" style-name="form-textfield" responsive width="25px" _id="txtOrigen"></vaadin-text-field>
       <vaadin-text-field description="Numero de comprobante en contabilidad" enabled="false" style-name="form-textfield" responsive width="80px" _id="txtNumCombrobante"></vaadin-text-field>
      </vaadin-horizontal-layout>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout width="867px" height="20px" _id="espacioVertLayout"></vaadin-vertical-layout>
    <vaadin-horizontal-layout _id="cuentaHorizLayout">
     <vaadin-vertical-layout size-auto>
      <vaadin-horizontal-layout spacing margin-right margin-top margin-bottom>
       <vaadin-horizontal-layout spacing margin-right margin-top margin-bottom>
        <vaadin-label size-auto plain-text>
          Fecha de la operación: 
        </vaadin-label>
        <vaadin-popup-date-field description="Fecha" style-name="form-textfield" _id="dataFechaComprobante"></vaadin-popup-date-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing margin>
        <vaadin-option-group primary-style-name="h-select-optiongroup" _id="tipoProyectoTercero">
         <option selected>VASJA/Proyectos</option>
         <option>Terceros</option>
        </vaadin-option-group>
       </vaadin-horizontal-layout>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout spacing>
       <vaadin-label size-auto plain-text>
         Cuenta: 
       </vaadin-label>
       <vaadin-combo-box input-prompt="" style-name="form-textfield" item-caption-mode="id" width="480px" _id="selProyectoTercero">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
      </vaadin-horizontal-layout>
     </vaadin-vertical-layout>
     <vaadin-horizontal-layout spacing margin-left margin-right margin-top :bottom :center>
      <vaadin-horizontal-layout caption="Saldos de la cuenta:" description="Saldos de la cuenta:" spacing margin :right>
       <vaadin-horizontal-layout>
        <vaadin-label size-auto plain-text>
          S/. 
        </vaadin-label>
        <vaadin-text-field enabled="false" style-name="form-textfield" _id="saldoProyPEN"></vaadin-text-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout>
        <vaadin-label size-auto plain-text>
          $ 
        </vaadin-label>
        <vaadin-text-field enabled="false" style-name="form-textfield" _id="saldoProyUSD"></vaadin-text-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout>
        <vaadin-label size-auto plain-text>
          € 
        </vaadin-label>
        <vaadin-text-field enabled="false" style-name="form-textfield" _id="saldoProyEUR"></vaadin-text-field>
       </vaadin-horizontal-layout>
      </vaadin-horizontal-layout>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="billing-formlayout" margin _id="detalleVertLayout">
    <vaadin-horizontal-layout spacing _id="glosaHorizLayout">
     <vaadin-label size-auto plain-text>
       Glosa 
     </vaadin-label>
     <vaadin-text-field input-prompt="" width="467px" _id="glosa"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout margin-left margin-right margin-top _id="montoHorizLayout">
     <vaadin-horizontal-layout>
      <vaadin-option-group item-caption-mode="id" _id="selMoneda">
       <option>Soles</option>
       <option>Dolares</option>
       <option>Euros</option>
      </vaadin-option-group>
      <tm_kod_widgets_numberfield-number-field caption="Ingreso" width="90px" height="22px" _id="numIngreso"></tm_kod_widgets_numberfield-number-field>
      <tm_kod_widgets_numberfield-number-field caption="Egreso" width="90px" height="22px" _id="numEgreso"></tm_kod_widgets_numberfield-number-field>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout size-auto margin-left>
      <vaadin-horizontal-layout spacing margin-left margin-right>
       <vaadin-label size-auto plain-text _id="lblSaldo">
         Saldo de caja (S/.) 
       </vaadin-label>
       <vaadin-text-field enabled="false" style-name="form-textfield" width="130px" _id="saldoCaja"></vaadin-text-field>
      </vaadin-horizontal-layout>
      <vaadin-combo-box style-name="form-textfield" item-caption-mode="id" width="207px" _id="selCaja" :center>
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-form-layout size-auto _id="detallesFormLayout">
     <vaadin-horizontal-layout spacing margin>
      <vaadin-vertical-layout size-auto _id="detallesVertLayout">
       <vaadin-horizontal-layout>
        <vaadin-combo-box caption="Responsable" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="351px" _id="selResponsable">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-button plain-text _id="btnResponsable" :bottom>
          Nuevo 
        </vaadin-button>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-combo-box caption="Tipo de movimiento" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="193px" _id="selTipoMov">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-combo-box caption="Cuenta contable" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="204px" _id="selCtaContable">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-combo-box caption="Lugar de gasto" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="193px" _id="selLugarGasto">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-combo-box caption="Rubro institucional" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="204px" _id="selRubroInst">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-combo-box caption="Rubro proyecto" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="193px" _id="selRubroProy">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-combo-box caption="Fuente" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="204px" _id="selFuente">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout caption="Documento de gasto" style-name="billing-formlayout" size-auto _id="docGastoVertLaout">
       <vaadin-horizontal-layout>
        <vaadin-combo-box caption="Auxiliar" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="330px" _id="selCodAuxiliar">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-button plain-text _id="btnDestino" :bottom>
          Nuevo 
        </vaadin-button>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-popup-date-field caption="Fecha doc" style-name="form-textfield" width="140px" _id="fechaDoc"></vaadin-popup-date-field>
        <vaadin-combo-box caption="Tipo doc." input-prompt="" style-name="form-textfield" item-caption-mode="id" width="178px" _id="selTipoDoc">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout>
        <vaadin-text-field caption="Serie" input-prompt="" width="82px" _id="serieDoc"></vaadin-text-field>
        <vaadin-text-field caption="Numero" input-prompt="" width="171px" _id="numDoc"></vaadin-text-field>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
    </vaadin-form-layout>
   </vaadin-vertical-layout>
   <vaadin-horizontal-layout width-full _id="bttnsHorzLayout">
    <vaadin-button width-full plain-text _id="eliminarBtn">
      Eliminar 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="imprimirBtn">
      Imprimir voucher 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="cerrarBtn">
      Anular/Cerrar 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="guardarBtn">
      Guardar 
    </vaadin-button>
    <vaadin-button visible="false" width-full plain-text _id="nuevoComprobante">
      Nuevo Comprobante 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="modificarBtn">
      Modificar 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="anularBtn">
      Anular 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-css-layout>
 </body>
</html>