<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_vaadin_addons:org.vaadin.addons">
  <meta name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head>
 <body>
  <vaadin-css-layout style-name="root-layout form-template-vivid" responsive width="990px">
   <vaadin-horizontal-layout width="970px">
    <vaadin-text-field validation-visible="false" caption="Operacion Nº 01-" enabled="false" input-prompt="" style-name="form-textfield" width="105px" height="25px" _id="numVoucher"></vaadin-text-field>
    <vaadin-horizontal-layout width="292px">
     <vaadin-label width="140px" height="21px" plain-text>
       Enviado a contabilidad: 
     </vaadin-label>
     <org_vaadin_addons-css-check-box enabled="false" width="62px" _id="chkEnviado"></org_vaadin_addons-css-check-box>
     <vaadin-text-field description="Origen en contabilidad" caption="Orig." enabled="false" style-name="form-textfield" responsive width="54px" _id="txtOrigen"></vaadin-text-field>
     <vaadin-text-field description="Numero de comprobante en contabilidad" caption="Comprobante" enabled="false" style-name="form-textfield" responsive width="130px" _id="txtNumCombrobante"></vaadin-text-field>
    </vaadin-horizontal-layout>
    <vaadin-vertical-layout size-auto :right>
     <vaadin-horizontal-layout spacing>
      <vaadin-button width-full plain-text _id="imprimirBtn">
        Imprimir voucher 
      </vaadin-button>
      <vaadin-button width-full plain-text _id="cerrarBtn">
        Cerrar 
      </vaadin-button>
     </vaadin-horizontal-layout>
     <vaadin-button width-full plain-text _id="eliminarBtn">
       Eliminar 
     </vaadin-button>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
   <vaadin-form-layout style-name="billing-formlayout" spacing="false" width="970px" height="96px" margin-top="false" margin-bottom="false" _id="cuenta_form">
    <vaadin-horizontal-layout spacing>
     <vaadin-horizontal-layout spacing height="61px">
      <vaadin-popup-date-field caption="Fecha de la operacion" description="Fecha" style-name="form-textfield" _id="dataFechaComprobante" :middle></vaadin-popup-date-field>
      <vaadin-option-group _id="tipoProyectoTercero" :middle>
       <option selected="true">VASJA/Proyectos</option>
       <option>Terceros</option>
      </vaadin-option-group>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout caption="Cuenta:" width="99.1%">
      <vaadin-combo-box input-prompt="" style-name="form-textfield" item-caption-mode="id" width="427px" _id="selProyectoTercero">
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
      <vaadin-combo-box input-prompt="" style-name="form-textfield" item-caption-mode="id" width="186px" _id="selFuente">
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
     </vaadin-vertical-layout>
     <vaadin-horizontal-layout caption="Saldos de la cuenta:" description="Saldos de la cuenta:" width="201px">
      <vaadin-text-field caption="S/." enabled="false" style-name="form-textfield" width="67px" _id="saldoProyPEN"></vaadin-text-field>
      <vaadin-text-field caption="$" enabled="false" style-name="form-textfield" width="85px" _id="saldoProyUSD"></vaadin-text-field>
      <vaadin-text-field caption="€" enabled="false" style-name="form-textfield" width="69px" _id="saldoProyEUR" :middle :center></vaadin-text-field>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
   </vaadin-form-layout>
   <vaadin-horizontal-layout width="970px">
    <vaadin-form-layout style-name="billing-formlayout" size-auto margin-top="false" margin-bottom="false" _id="billing_form2">
     <vaadin-horizontal-layout spacing>
      <vaadin-horizontal-layout spacing width="700px">
       <vaadin-text-field caption="Glosa" input-prompt="" style-name="form-textfield" width="459px" _id="glosa"></vaadin-text-field>
       <vaadin-horizontal-layout :right>
        <vaadin-option-group item-caption-mode="id" _id="selMoneda">
         <option>Soles</option>
         <option>Dolares</option>
         <option>Euros</option>
        </vaadin-option-group>
        <tm_kod_widgets_numberfield-number-field caption="Ingreso" width="74px" height="22px" _id="numIngreso"></tm_kod_widgets_numberfield-number-field>
        <tm_kod_widgets_numberfield-number-field caption="Egreso" width="74px" height="22px" _id="numEgreso"></tm_kod_widgets_numberfield-number-field>
       </vaadin-horizontal-layout>
      </vaadin-horizontal-layout>
      <vaadin-vertical-layout size-auto :right>
       <vaadin-combo-box style-name="form-textfield" item-caption-mode="id" width="180px" _id="selCaja">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-text-field caption="Saldo de caja (S/.)" enabled="false" style-name="form-textfield" width="130px" _id="saldoCaja" :center></vaadin-text-field>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout spacing>
      <vaadin-combo-box caption="Responsable" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="351px" _id="selResponsable">
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
      <vaadin-button plain-text _id="btnResponsable" :bottom>
        Editar 
      </vaadin-button>
      <vaadin-combo-box caption="Tipo de movimiento" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="174px" _id="selTipoMov">
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
      <vaadin-combo-box caption="Cuenta contable" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="138px" _id="selCtaContable">
       <option>Option 1</option>
       <option>Option 2</option>
      </vaadin-combo-box>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing size-auto>
      <vaadin-horizontal-layout spacing>
       <vaadin-combo-box caption="Lugar de gasto" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="193px" _id="selLugarGasto">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-combo-box caption="Rubro institucional" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="216px" _id="selRubroInst">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-combo-box caption="Rubro proyecto" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="173px" _id="selRubroProy">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout style-name="billing-formlayout" spacing margin _id="billing_form5">
       <vaadin-combo-box caption="Auxiliar" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="330px" _id="selCodAuxiliar">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-button plain-text _id="btnDestino" :bottom>
         Editar 
       </vaadin-button>
       <vaadin-combo-box caption="Tipo doc." input-prompt="" style-name="form-textfield" item-caption-mode="id" width="52px" _id="selTipoDoc">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-text-field caption="Serie" input-prompt="" style-name="form-textfield" width="29px" _id="serieDoc"></vaadin-text-field>
       <vaadin-text-field caption="Numero" input-prompt="" style-name="form-textfield" width="69px" _id="numDoc"></vaadin-text-field>
       <vaadin-popup-date-field caption="Fecha doc" style-name="form-textfield" _id="fechaDoc"></vaadin-popup-date-field>
      </vaadin-horizontal-layout>
     </vaadin-vertical-layout>
    </vaadin-form-layout>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout style-name="billing-formlayout" width="970px" _id="billing_form6">
    <vaadin-button width-full plain-text _id="modificarBtn">
      Modificar 
    </vaadin-button>
    <vaadin-button width-full plain-text _id="guardarBtn">
      Guardar 
    </vaadin-button>
    <vaadin-button width-full height="22px" plain-text _id="anularBtn">
      Anular 
    </vaadin-button>
    <vaadin-button visible="false" width-full plain-text _id="nuevoComprobante">
      Nuevo Comprobante 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-css-layout>
 </body>
</html>