<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.5.2">
 </head>
 <body>
  <vaadin7-vertical-layout spacing size-full margin>
   <vaadin7-horizontal-layout spacing _id="horizontalCabeza">
    <vaadin-button plain-text _id="btnNuevaConfig" :middle :center>
      Nueva Configuracion 
    </vaadin-button>
    <vaadin-button plain-text _id="btnEliminar">
      Eliminar 
    </vaadin-button>
    <vaadin7-label size-auto plain-text>
      Ano 
    </vaadin7-label>
    <vaadin7-date-field resolution="year" _id="fechaAno"></vaadin7-date-field>
   </vaadin7-horizontal-layout>
   <vaadin7-grid caption="Configuracion Caja" editor-save-caption="Guardar" editor-cancel-caption="Anular" size-full editable _id="gridConfigCaja" :expand></vaadin7-grid>
  </vaadin7-vertical-layout>
 </body>
</html>