<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout spacing size-full margin>
   <vaadin-horizontal-layout spacing _id="horizontalCabeza">
    <vaadin-button plain-text _id="btnNuevaConfig" :middle :center>
      Nueva Configuracion 
    </vaadin-button>
    <vaadin-button plain-text _id="btnEliminar">
      Eliminar 
    </vaadin-button>
    <vaadin-label size-auto plain-text>
      Año 
    </vaadin-label>
    <vaadin-date-field resolution="year" _id="fechaAno"></vaadin-date-field>
   </vaadin-horizontal-layout>
   <vaadin-grid caption="Configuracion Caja" editor-save-caption="Guardar" editor-cancel-caption="Anular" size-full editable _id="gridConfigCaja" :expand></vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>