<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
     <meta charset="UTF-8" name="package-mapping" content="org_vaadin_addons:org.vaadin.addons">
  <meta charset="UTF-8" name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta charset="UTF-8" name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta charset="UTF-8" name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta charset="UTF-8" name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head> 
 <body> 
  <vaadin-css-layout style-name="root-layout form-template-vivid" responsive width-full height="619px" _id="root_layout"> 
   <vaadin-label style-name="header-label" width="1236px" plain-text _id="operacion_header_label">
     Transferencia (Cargo / Abono) 
   </vaadin-label> 
   <vaadin-horizontal-layout height="501px"> 
    <vaadin-vertical-layout width="560px"> 
     <vaadin-form-layout style-name="billing-formlayout" width="550px" margin-top="false" margin-bottom="false" _id="cuenta_form"> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-text-field description="Num de Voucher" caption="Nro de comprobante" enabled="false" style-name="form-textfield" width="105px" _id="numVoucher" :middle :center></vaadin-text-field>
          <vaadin-popup-date-field caption="Fecha" description="Fecha" style-name="form-textfield"
                                   _id="dataFechaComprobante"></vaadin-popup-date-field>
          <org_vaadin_addons-css-check-box caption="Enviado" enabled="false" width="54px" _id="chkEnviado"
                                           :bottom></org_vaadin_addons-css-check-box>
          <vaadin-text-field description="Origen en contabilidad" caption="Orig." enabled="false"
                             style-name="form-textfield" responsive width="54px" _id="txtOrigen"></vaadin-text-field>
          <vaadin-text-field description="Numero de comprobante en contabilidad" caption="Comprobante" enabled="false"
                             style-name="form-textfield" responsive width="130px"
                             _id="txtNumCombrobante"></vaadin-text-field>
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout style-name="cuenta-Layout" spacing> 
       <vaadin-vertical-layout spacing> 
        <vaadin-horizontal-layout>
        <vaadin-option-group _id="tipoProyectoTercero" :middle>
         <option>VASJA/Proyectos</option>
         <option>Terceros</option>
        </vaadin-option-group>
         <vaadin-text-field caption="S/." enabled="false" style-name="form-textfield" width="70px" _id="saldoProyPEN"></vaadin-text-field>
         <vaadin-text-field caption="$" enabled="false" style-name="form-textfield" width="70px" _id="saldoProyUSD"></vaadin-text-field>
         <vaadin-text-field caption="€" enabled="false" style-name="form-textfield" width="70px" _id="saldoProyEUR"></vaadin-text-field>
        </vaadin-horizontal-layout>
        <vaadin-horizontal-layout description="Proyecto" spacing>
         <vaadin-combo-box input-prompt="Proyecto/Tercero" style-name="form-textfield" item-caption-mode="id" width="300px" _id="selProyectoTercero">
          <option>Option 1</option>
          <option>Option 2</option>
         </vaadin-combo-box>
         <vaadin-combo-box input-prompt="Fuente" style-name="form-textfield" item-caption-mode="id" width="120px" _id="selFuente">
          <option>Option 1</option>
          <option>Option 2</option>
         </vaadin-combo-box>
        </vaadin-horizontal-layout>
       </vaadin-vertical-layout>
      </vaadin-horizontal-layout>
     </vaadin-form-layout> 
     <vaadin-form-layout style-name="billing-formlayout" width="550px" height="325px" margin-top="false" margin-bottom="false" _id="billing_form2"> 
      <vaadin-horizontal-layout spacing width="505px"> 
       <vaadin-option-group caption="Moneda" item-caption-mode="id" width="61px" height="37px" _id="selMoneda" :center> 
        <option>Soles</option> 
        <option>Dolares</option> 
       </vaadin-option-group> 
       <tm_kod_widgets_numberfield-number-field caption="Ingreso" width="69px" _id="numIngreso"></tm_kod_widgets_numberfield-number-field>
          <tm_kod_widgets_numberfield-number-field caption="Egreso" width="69px"
                                                   _id="numEgreso"></tm_kod_widgets_numberfield-number-field>
          <vaadin-combo-box caption="Caja" style-name="form-textfield" item-caption-mode="id" width="110px"
                            _id="selCaja">
              <option>Option 1</option>
              <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-text-field caption="Saldo de caja (S/.)" enabled="false" style-name="form-textfield" width="75px"
                             _id="saldoCaja"></vaadin-text-field>
      </vaadin-horizontal-layout>
      <vaadin-text-field input-prompt="Glosa" style-name="form-textfield" width="502px" _id="glosa"></vaadin-text-field> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-combo-box input-prompt="Responsable" style-name="form-textfield" item-caption-mode="id" width="262px" _id="selResponsable"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-button plain-text _id="btnResponsable" :bottom>
         + Nuevo 
       </vaadin-button> 
       <vaadin-combo-box input-prompt="Lugar de gasto" style-name="form-textfield" item-caption-mode="id" width="144px" _id="selLugarGasto" :center> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-vertical-layout spacing size-auto> 
        <vaadin-combo-box input-prompt="Tipo de movimiento" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selTipoMov"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Cuenta contable" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selCtaContable"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Rubro Institucional" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selRubroInst"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Partida presupuestal" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selRubroProy"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
       </vaadin-vertical-layout> 
       <vaadin-form-layout style-name="billing-formlayout" width="329px" height="161px" margin-top="false" margin-bottom="false" _id="billing_form5"> 
        <vaadin-label size-auto plain-text _id="documento_header_label4">
          Detalles del documento 
        </vaadin-label> 
        <vaadin-horizontal-layout> 
         <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper9"> 
          <vaadin-combo-box input-prompt="Auxiliar" style-name="form-textfield" item-caption-mode="id" width="200px" _id="selCodAuxiliar"> 
           <option>Option 1</option> 
           <option>Option 2</option> 
          </vaadin-combo-box> 
          <vaadin-button plain-text _id="btnDestino" :bottom>
            +Nuevo 
          </vaadin-button> 
         </vaadin-horizontal-layout> 
        </vaadin-horizontal-layout> 
        <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper10"> 
         <vaadin-popup-date-field style-name="form-textfield" _id="fechaDoc" :bottom></vaadin-popup-date-field> 
         <vaadin-combo-box input-prompt="Tipo de documento" style-name="form-textfield" item-caption-mode="id" _id="selTipoDoc" :bottom> 
          <option>Option 1</option> 
          <option>Option 2</option> 
         </vaadin-combo-box> 
        </vaadin-horizontal-layout> 
        <vaadin-horizontal-layout width="190px"> 
         <vaadin-text-field input-prompt="Serie de doc" style-name="form-textfield" width="54px" _id="serieDoc" :bottom></vaadin-text-field>
            <vaadin-text-field input-prompt="Nr doc" style-name="form-textfield" width="163px" _id="numDoc"
                               :bottom></vaadin-text-field>
        </vaadin-horizontal-layout> 
       </vaadin-form-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-form-layout> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout spacing width="694px"> 
     <vaadin-form-layout style-name="order-summary-layout" width="694px" height="378px" margin-top="false" margin-bottom="false" _id="order_summary_layout"> 
      <vaadin-label style-name="header-label-small" width="632px" plain-text _id="order_heading">
        Operaciones de transferencia 
      </vaadin-label>
         <vaadin-grid width="633px" height="256px" tabindex="50" _id="gridTrans"></vaadin-grid>
         <vaadin-css-layout>
       <vaadin-label style-name="total-sum" _id="saldoTotal">
         Differencia : 
        <span class="order-sum"> S/. 0.00</span> 
       </vaadin-label> 
      </vaadin-css-layout> 
     </vaadin-form-layout> 
     <vaadin-form-layout style-name="billing-formlayout" size-auto margin-top="false" margin-bottom="false" _id="billing_form6" :bottom> 
      <vaadin-horizontal-layout spacing :middle :center> 
       <vaadin-button plain-text _id="guardarBtn">
         Guardar
       </vaadin-button>
          <vaadin-button plain-text _id="anularBtn">
              Anular
          </vaadin-button>
          <vaadin-button plain-text _id="modificarBtn">
         Modificar 
       </vaadin-button> 
       <vaadin-button plain-text _id="eliminarBtn">
         Eliminar 
       </vaadin-button> 
       <vaadin-button plain-text _id="nuevoComprobante">
         Anadir Comprobante 
       </vaadin-button> 
       <vaadin-button plain-text _id="imprimirBtn">
         Imprimir voucher 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-button plain-text _id="nuevaTransBtn">
         Nueva Transferencia 
       </vaadin-button> 
       <vaadin-button plain-text _id="finalizarTransBtn">
         Finalizar Transferencia 
       </vaadin-button> 
       <vaadin-button plain-text _id="cerrarBtn">
           Manejo de Caja
       </vaadin-button> 
       <vaadin-button plain-text _id="imprimirTotalBtn">
         Imprimir transferencia 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
     </vaadin-form-layout> 
    </vaadin-vertical-layout> 
   </vaadin-horizontal-layout> 
  </vaadin-css-layout>  
 </body>
</html>