<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-horizontal-layout>
    <vaadin-text-field enabled="false" width="40px" _id="numItem"></vaadin-text-field>
    <vaadin-date-field _id="fecFechaDoc"></vaadin-date-field>
    <vaadin-combo-box invalid-allowed="false" responsive width="130px" _id="selPartidaP">
     <option>Option 1</option>
     <option>Option 2</option>
     <option>Option 3</option>
    </vaadin-combo-box>
    <vaadin-combo-box invalid-allowed="false" responsive width="220px" _id="selDestino">
     <option>Option 1</option>
     <option>Option 2</option>
     <option>Option 3</option>
    </vaadin-combo-box>
    <vaadin-combo-box invalid-allowed="false" input-prompt="" popup-width="" responsive width="130px" _id="selRubroInst">
     <option>Option 1</option>
     <option>Option 2</option>
     <option>Option 3</option>
    </vaadin-combo-box>
    <vaadin-text-field width="280px" _id="txtGlosaItem"></vaadin-text-field>
    <tm_kod_widgets_numberfield-number-field _id="numMonto"></tm_kod_widgets_numberfield-number-field>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>