<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout spacing immediate height="150px" margin>
   <vaadin-vertical-layout height="50px">
    <vaadin-horizontal-layout spacing margin>
     <vaadin-upload caption="Subir archivo con detalles" size-full _id="btnUpload"></vaadin-upload>
     <vaadin-label width="50px" plain-text></vaadin-label>
     <vaadin-button plain-text _id="btnAnular" :bottom :center>
       Anular 
     </vaadin-button>
     <vaadin-button plain-text _id="btnImportar" :bottom :right>
       Guardar y Importar 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
   <vaadin-vertical-layout immediate height="50px" _id="layItem" :expand></vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>