<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_vaadin_addons:org.vaadin.addons">
  <meta name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head>
 <body>
  <vaadin-css-layout style-name="root-layout form-template-vivid" responsive width-full height="764px">
   <vaadin-vertical-layout spacing size-auto>
    <vaadin-form-layout style-name="billing-formlayout" spacing="false" responsive width-auto height="207px" margin-top="false" margin-bottom="false" _id="cuenta_form">
     <vaadin-horizontal-layout spacing height="60px">
      <vaadin-vertical-layout size-auto>
       <vaadin-horizontal-layout>
        <vaadin-text-field caption="Origen" enabled="false" input-prompt="Saldo" style-name="form-textfield" width="39px" height="23px" _id="txtOrigen"></vaadin-text-field>
        <vaadin-text-field description="Num de Voucher" caption="Nro" enabled="false" input-prompt="Numero " style-name="form-textfield" responsive width="65px" _id="numVoucher"></vaadin-text-field>
        <vaadin-popup-date-field caption="Fecha" description="Fecha" style-name="form-textfield" _id="dataFechaComprobante"></vaadin-popup-date-field>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout size-auto>
       <vaadin-horizontal-layout>
        <vaadin-text-field caption="Glosa" input-prompt="Glosa" style-name="form-textfield" width="466px" _id="txtGlosaCabeza"></vaadin-text-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing margin>
        <vaadin-combo-box caption="Responsable" input-prompt="Cuenta" style-name="form-textfield" item-caption-mode="id" width="270px" _id="selResponsable1">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-button plain-text _id="btnResponsable" :middle :center>
          + 
        </vaadin-button>
        <vaadin-option-group _id="selMoneda">
         <option selected>S/.</option>
         <option>$</option>
         <option>€</option>
        </vaadin-option-group>
        <tm_kod_widgets_numberfield-number-field caption-as-html caption="Total Anticipio" width="80px" _id="numTotalAnticipio"></tm_kod_widgets_numberfield-number-field>
        <vaadin-text-field caption="Gasto Total" enabled="false" input-prompt="" style-name="form-textfield" width="85px" readonly value="------" _id="txtGastoTotal"></vaadin-text-field>
        <vaadin-text-field caption="Saldo Pendiente" enabled="false" input-prompt="Saldo" style-name="form-textfield" width="85px" readonly value="------" _id="txtSaldoPendiente"></vaadin-text-field>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout size-auto>
       <vaadin-horizontal-layout spacing margin>
        <vaadin-label size-auto plain-text>
          Ingresado por: 
        </vaadin-label>
        <vaadin-text-field enabled="false" _id="txtIngresadoPor"></vaadin-text-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing margin>
        <vaadin-label size-auto plain-text>
          Fecha Registro 
        </vaadin-label>
        <vaadin-popup-date-field description="Fecha" style-name="form-textfield" _id="dataFechaRegistro"></vaadin-popup-date-field>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout spacing height="80px">
      <org_vaadin_addons-css-check-box caption="Enviado" enabled="false" _id="chkEnviado"></org_vaadin_addons-css-check-box>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout></vaadin-horizontal-layout>
    </vaadin-form-layout>
    <vaadin-horizontal-layout width-full :expand>
     <vaadin-form-layout style-name="order-summary-layout" responsive height="434px" margin-top="false" margin-bottom="false" _id="order_summary_layout" :middle :expand>
      <vaadin-label style-name="header-label-small" plain-text _id="order_heading">
        Datos del Detalle 
      </vaadin-label>
      <vaadin-grid width-full height="321px" tabindex="50" _id="grid"></vaadin-grid>
      <vaadin-css-layout>
       <vaadin-label style-name="total-sum" _id="saldoTotal">
         Total : 
        <span class="order-sum"> S/. 0.00</span>
       </vaadin-label>
      </vaadin-css-layout>
     </vaadin-form-layout>
     <vaadin-form-layout style-name="billing-formlayout" spacing="false" responsive width="612px" height="428px" margin-top="false" margin-bottom="false" _id="billing_form2" :middle :right>
      <vaadin-horizontal-layout description="Proyecto" spacing>
       <vaadin-text-field description="Num de Voucher" caption="Item" enabled="false" input-prompt="Numero " style-name="form-textfield" responsive width="32px" _id="numItem"></vaadin-text-field>
       <vaadin-text-field caption="Glosa por detalle" input-prompt="Glosa por detalle" style-name="form-textfield" width="362px" height="22px" _id="txtGlosaDetalle"></vaadin-text-field>
       <vaadin-combo-box input-prompt="Tipo de movimiento" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selTipoMov">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout spacing margin>
       <vaadin-popup-date-field style-name="form-textfield" _id="fechaPago"></vaadin-popup-date-field>
       <vaadin-combo-box input-prompt="sel Proyecto" style-name="form-textfield" item-caption-mode="id" width="277px" _id="selProyecto">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
       <vaadin-combo-box input-prompt="Fuente" style-name="form-textfield" item-caption-mode="id" width="139px" _id="selFuente">
        <option>Option 1</option>
        <option>Option 2</option>
       </vaadin-combo-box>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout spacing height="125px">
       <vaadin-form-layout style-name="billing-formlayout" width="425px" height="124px" margin-top="false" margin-bottom="false" _id="billing_form5">
        <vaadin-horizontal-layout>
         <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper9">
          <vaadin-combo-box input-prompt="Auxiliar" style-name="form-textfield" item-caption-mode="id" width="260px" _id="selCodAuxiliar">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-button plain-text _id="btnAuxiliar" :bottom>
            +Nuevo 
          </vaadin-button>
         </vaadin-horizontal-layout>
        </vaadin-horizontal-layout>
        <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper10">
         <vaadin-popup-date-field style-name="form-textfield" _id="fechaDoc" :bottom></vaadin-popup-date-field>
         <vaadin-combo-box input-prompt="Tipo de documento" style-name="form-textfield" item-caption-mode="id" width="138px" _id="selTipoDoc" :bottom>
          <option>Option 1</option>
          <option>Option 2</option>
         </vaadin-combo-box>
        </vaadin-horizontal-layout>
        <vaadin-horizontal-layout width="190px">
         <vaadin-text-field input-prompt="Serie de doc" style-name="form-textfield" width="54px" _id="txtSerieDoc" :bottom></vaadin-text-field>
         <vaadin-text-field input-prompt="Nr doc" style-name="form-textfield" width="165px" _id="txtNumDoc" :bottom></vaadin-text-field>
        </vaadin-horizontal-layout>
       </vaadin-form-layout>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout></vaadin-horizontal-layout>
      <vaadin-form-layout style-name="billing-formlayout" responsive height="101px" margin-top="false" margin-bottom="false" _id="billing_form6">
       <vaadin-horizontal-layout spacing>
        <vaadin-button plain-text _id="btnGuardar">
          Guardar 
        </vaadin-button>
        <vaadin-button plain-text _id="btnNewItem">
          Nuevo Item 
        </vaadin-button>
        <vaadin-button plain-text _id="btnModificar">
          Modificar 
        </vaadin-button>
        <vaadin-button plain-text _id="btnAnular">
          Anular 
        </vaadin-button>
        <vaadin-button plain-text _id="btnEliminar">
          Eliminar 
        </vaadin-button>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-button plain-text _id="btnCerrar">
          Cerrar 
        </vaadin-button>
        <vaadin-button plain-text _id="btnVerVoucher">
          Ver Voucher 
        </vaadin-button>
       </vaadin-horizontal-layout>
      </vaadin-form-layout>
     </vaadin-form-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
  </vaadin-css-layout>
 </body>
</html>