bin
build
target
/*/target/
.idea
*.iml
.settings
.settings/*
reports/.gitignore
vasja-reports/.gitignore
vasja-reports/reports/.gitignore
/printapplet-addon/WebContent/VAADIN/widgetsets/
printapplet-addon/src/main/resources/dk/apaq/vaadin/addon/printservice/gwt/public/printapplet-0.0.5.jar
.classpath
.project
.designer

