/Vasja2/build/
/Vasja2/dist/
/Vasja2/nbproject/private
/NVasja/build/
build
target
/*/target/
.idea
*.iml
/printaddon-applet/WebContent/VAADIN/widgetsets/*
.settings
.settings/*
Blank_A4.jrxml
reports/.gitignore
reports/Blank_A4.jrxml
