<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout id="verticalMain" margin>
   <vaadin-horizontal-layout spacing margin-top margin-bottom _id="horiz1">
    <vaadin-horizontal-layout spacing :center>
     <vaadin-label size-auto plain-text>
       Operaciones del día: 
     </vaadin-label>
     <vaadin-date-field _id="fechaDesde"></vaadin-date-field>
     <vaadin-label size-auto plain-text>
       al 
     </vaadin-label>
     <vaadin-date-field _id="fechaHasta"></vaadin-date-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-label size-auto plain-text>
       Moneda: 
     </vaadin-label>
     <vaadin-combo-box invalid-allowed="false" item-caption-mode="id" width="46px" _id="selRepMoneda">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
     </vaadin-combo-box>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :right>
        Saldo de cuenta: 
      </vaadin-label>
      <vaadin-label size-auto plain-text :right>
        Según banco: 
      </vaadin-label>
      <vaadin-label size-auto plain-text :right>
        Segun libro bancos: 
      </vaadin-label>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :center>
        Inicial 
      </vaadin-label>
      <vaadin-text-field></vaadin-text-field>
      <vaadin-text-field></vaadin-text-field>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :center>
        Final 
      </vaadin-label>
      <vaadin-text-field></vaadin-text-field>
      <vaadin-text-field></vaadin-text-field>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-button plain-text _id="btnReporte">
      Imprimir Reporte 
    </vaadin-button>
    <vaadin-button plain-text _id="btnDetallesSaldos">
      Ver todos los saldos 
    </vaadin-button>
    <vaadin-horizontal-layout spacing>
     <vaadin-button plain-text _id="btnReporteImprimirCaja" :right>
       Reporte de caja 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout width-auto height="25px" _id="espacio"></vaadin-vertical-layout>
   <vaadin-vertical-layout size-auto :center>
    <vaadin-horizontal-layout></vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing width-full margin>
     <vaadin-horizontal-layout spacing margin-right>
      <vaadin-label size-auto plain-text>
        Cuenta bancaria: 
      </vaadin-label>
      <vaadin-combo-box invalid-allowed="false" input-prompt="Filtrar por cuenta" item-caption-mode="id" width="300px" _id="selFiltroCuenta">
       <option>Option 1</option>
       <option>Option 2</option>
       <option>Option 3</option>
      </vaadin-combo-box>
     </vaadin-horizontal-layout>
     <vaadin-button plain-text>
       Marcar cobrado 
     </vaadin-button>
     <vaadin-button plain-text _id="btnNuevoCheque">
       Nuevo cheque 
     </vaadin-button>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout>
     <vaadin-grid editor-cancel-caption="Anular" width="1100px" height="600px" _id="gridBanco"></vaadin-grid>
     <vaadin-vertical-layout spacing size-auto margin :middle>
      <vaadin-button plain-text _id="btnImprimir">
        Imprimir Voucher 
      </vaadin-button>
      <vaadin-button width="129px" plain-text _id="btnEditar">
        Ver detalle 
      </vaadin-button>
      <vaadin-button visible="false" plain-text _id="btnVerVoucher">
        Ver Voucher 
      </vaadin-button>
      <vaadin-button width="128px" plain-text _id="btnEliminar">
        Eliminar 
      </vaadin-button>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>