<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_sanjose_views_banco:org.sanjose.views.banco">
 </head>
 <body>
  <vaadin-vertical-layout id="verticalTopMain" size-full margin>
   <vaadin-horizontal-layout spacing height="40px" margin _id="horizontalFechasLayout" :middle :center>
    <vaadin-label size-auto plain-text>
      Operaciones desde 
    </vaadin-label>
    <vaadin-date-field _id="fechaDesde"></vaadin-date-field>
    <vaadin-label size-auto plain-text>
      - 
    </vaadin-label>
    <vaadin-date-field _id="fechaHasta"></vaadin-date-field>
    <vaadin-button plain-text _id="btnNuevoCheque">
      Nuevo cheque 
    </vaadin-button>
    <vaadin-button plain-text _id="btnEditar">
      Editar 
    </vaadin-button>
    <vaadin-button plain-text _id="btnImprimir">
      Imprimir Voucher 
    </vaadin-button>
    <vaadin-button plain-text _id="btnVerVoucher">
      Ver Voucher 
    </vaadin-button>
    <vaadin-combo-box invalid-allowed="false" item-caption-mode="id" width="46px" _id="selRepMoneda">
     <option>Option 1</option>
     <option>Option 2</option>
     <option>Option 3</option>
    </vaadin-combo-box>
    <vaadin-button plain-text _id="btnReporte">
      Imprimir Reporte 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout height="22px">
    <vaadin-combo-box invalid-allowed="false" input-prompt="Filtrar por cuenta" item-caption-mode="id" width="300px" _id="selFiltroCuenta">
     <option>Option 1</option>
     <option>Option 2</option>
     <option>Option 3</option>
    </vaadin-combo-box>
    <vaadin-label width="50px" plain-text></vaadin-label>
    <vaadin-horizontal-layout spacing height="25px">
     <vaadin-date-field _id="fecMesCobrado"></vaadin-date-field>
     <vaadin-button plain-text _id="btnMarcarCobrado">
       Marcar cobrado 
     </vaadin-button>
     <vaadin-button plain-text _id="btnMarcarNoCobrado">
       Marcar no cobrado 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout size-full :expand>
    <vaadin-grid editor-cancel-caption="Anular" size-full _id="gridBanco" :expand></vaadin-grid>
    <org_sanjose_views_banco-banco-oper-view width="900px" height-full _id="bancoOperView" :right></org_sanjose_views_banco-banco-oper-view>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout width-full height="30px"></vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>