<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout id="verticalMain" size-full margin>
   <vaadin-horizontal-layout spacing height="80px" margin-top margin-bottom _id="horiz1" :center>
    <vaadin-horizontal-layout spacing :center>
     <vaadin-label size-auto plain-text>
       Operaciones del día: 
     </vaadin-label>
     <vaadin-date-field _id="fechaDesde"></vaadin-date-field>
     <vaadin-label size-auto plain-text>
       al 
     </vaadin-label>
     <vaadin-date-field _id="fechaHasta"></vaadin-date-field>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-label size-auto plain-text>
       Moneda: 
     </vaadin-label>
     <vaadin-combo-box invalid-allowed="false" item-caption-mode="id" width="46px" _id="selRepMoneda">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
     </vaadin-combo-box>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout spacing>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :right>
        Saldo de cuenta: 
      </vaadin-label>
      <vaadin-label size-auto plain-text :right>
        Saldo segun banco: 
      </vaadin-label>
      <vaadin-label size-auto plain-text :right>
        Segun libro bancos: 
      </vaadin-label>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :center>
        Inicial 
      </vaadin-label>
      <vaadin-text-field enabled="false" _id="numSaldoInicialSegBancos"></vaadin-text-field>
      <vaadin-text-field enabled="false" _id="numSaldoInicialLibro"></vaadin-text-field>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-auto>
      <vaadin-label size-auto plain-text :center>
        Final 
      </vaadin-label>
      <vaadin-text-field enabled="false" _id="numSaldoFinalSegBancos"></vaadin-text-field>
      <vaadin-text-field enabled="false" height="20px" _id="numSaldoFinalLibro"></vaadin-text-field>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout :middle>
     <vaadin-button plain-text _id="btnDetallesSaldos">
       Ver todos los saldos 
     </vaadin-button>
     <vaadin-button plain-text _id="btnReporte">
       Imprimir Reporte 
     </vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout height="25px" _id="espacio"></vaadin-vertical-layout>
   <vaadin-vertical-layout size-full :center :expand>
    <vaadin-horizontal-layout spacing height="40px" margin>
     <vaadin-horizontal-layout spacing height="25px">
      <vaadin-label size-auto plain-text>
        Cuenta: 
      </vaadin-label>
      <vaadin-combo-box invalid-allowed="false" input-prompt="Filtrar por cuenta" responsive item-caption-mode="id" width="390px" _id="selFiltroCuenta">
       <option>Option 1</option>
       <option>Option 2</option>
       <option>Option 3</option>
      </vaadin-combo-box>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout spacing height="25px" :center>
      <vaadin-date-field _id="fecMesCobrado"></vaadin-date-field>
      <vaadin-button plain-text _id="btnMarcarCobrado">
        Marcar cobrado 
      </vaadin-button>
      <vaadin-button plain-text _id="btnMarcarNoCobrado">
        Marcar no cobrado 
      </vaadin-button>
      <vaadin-button plain-text _id="btnNuevoCheque">
        Nuevo cheque 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout responsive size-full :expand>
     <vaadin-horizontal-layout size-full :expand>
      <vaadin-grid editor-cancel-caption="Anular" size-full _id="gridBanco" :expand></vaadin-grid>
      <vaadin-vertical-layout spacing width-auto height="120px" margin :middle>
       <vaadin-button width="130px" height="22px" plain-text _id="btnImprimir">
         Imprimir Voucher 
       </vaadin-button>
       <vaadin-button width="130px" plain-text _id="btnEditar">
         Ver detalle 
       </vaadin-button>
       <vaadin-button visible="false" width="130px" plain-text _id="btnVerVoucher">
         Ver Voucher 
       </vaadin-button>
       <vaadin-button width="130px" plain-text _id="btnEliminar">
         Eliminar 
       </vaadin-button>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>