<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
  <meta name="package-mapping" content="org_vaadin_addons:org.vaadin.addons">
  <meta name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head>
 <body>
  <vaadin-css-layout style-name="root-layout form-template-vivid" responsive width-full>
   <vaadin-vertical-layout _id="topVertLayout">
    <vaadin-horizontal-layout spacing _id="topButtons" :right>
     <vaadin-horizontal-layout spacing margin :right>
      <vaadin-button width="130px" plain-text _id="anularChequeBtn">
        Anular cheque 
      </vaadin-button>
      <vaadin-button visible="false" width="130px" plain-text _id="newChequeBtn">
        Nuevo Cheque 
      </vaadin-button>
      <vaadin-button visible="false" width="130px" plain-text _id="guardarChequeBtn">
        Guardar cheque 
      </vaadin-button>
      <vaadin-button width="130px" plain-text _id="imprimirVoucherBtn">
        Imprimir Voucher 
      </vaadin-button>
      <vaadin-button visible="false" plain-text _id="verVoucherBtn">
        Ver Voucher 
      </vaadin-button>
      <vaadin-button width="130px" plain-text _id="cerrarBtn">
        Cerrar 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout style-name="billing-formlayout" spacing responsive width-full height="50px" _id="datosPrincipalesHorizLayout" :expand>
     <vaadin-horizontal-layout spacing>
      <vaadin-label size-auto plain-text>
        Fecha 
      </vaadin-label>
      <vaadin-popup-date-field description="Fecha" style-name="form-textfield" _id="dataFechaComprobante"></vaadin-popup-date-field>
      <vaadin-label size-auto plain-text>
        Operaciòn nº 
      </vaadin-label>
      <vaadin-text-field description="Num de Voucher" enabled="false" input-prompt="Numero " style-name="form-textfield" responsive width="71px" _id="numVoucher"></vaadin-text-field>
      <vaadin-label width="50px" plain-text>
        Cobrado 
      </vaadin-label>
      <org_vaadin_addons-css-check-box _id="chkCobrado"></org_vaadin_addons-css-check-box>
      <vaadin-label width="50px" plain-text :right>
        Mes 
      </vaadin-label>
      <vaadin-text-field caption-as-html description="Mes Cobrado" enabled="false" input-prompt="" style-name="form-textfield" responsive width="37px" _id="codMescobrado"></vaadin-text-field>
      <vaadin-label size-auto plain-text>
        Enviado a cont. 
      </vaadin-label>
      <org_vaadin_addons-css-check-box enabled="false" _id="chkEnviado"></org_vaadin_addons-css-check-box>
      <vaadin-text-field description="Origen en contabilidad" enabled="false" style-name="form-textfield" responsive width="54px" _id="txtOrigen"></vaadin-text-field>
      <vaadin-label size-auto plain-text>
        - 
      </vaadin-label>
      <vaadin-text-field description="Numero de comprobante en contabilidad" enabled="false" style-name="form-textfield" responsive width="115px" _id="txtNumCombrobante"></vaadin-text-field>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout :right>
      <vaadin-button plain-text _id="btnPrevio">
        &lt; 
      </vaadin-button>
      <vaadin-button plain-text _id="btnSiguiente">
        &gt; 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
   <vaadin-vertical-layout _id="bodyVertLayout">
    <vaadin-horizontal-layout width-full>
     <vaadin-vertical-layout>
      <vaadin-vertical-layout style-name="billing-formlayout" spacing _id="encabezadoVertLayout" :expand>
       <vaadin-horizontal-layout spacing>
        <vaadin-combo-box input-prompt="Cuenta" style-name="form-textfield" item-caption-mode="id" width="342px" _id="selCuenta">
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-label size-auto plain-text _id="monedaSaldoCuentaLabel">
          S/. 
        </vaadin-label>
        <vaadin-text-field enabled="false" input-prompt="Saldo" style-name="form-textfield" width="120px" _id="saldoCuenta"></vaadin-text-field>
        <vaadin-label size-auto plain-text>
          N° de chk 
        </vaadin-label>
        <vaadin-text-field input-prompt="Numero" width="120px" _id="cheque"></vaadin-text-field>
        <vaadin-label size-auto plain-text _id="totalChequeLabel">
          Valor S/. 
        </vaadin-label>
        <vaadin-text-field enabled="false" input-prompt="" style-name="form-textfield" width="120px" value="0" _id="montoTotal"></vaadin-text-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-combo-box input-prompt="Cod. Auxiliar" style-name="form-textfield" item-caption-mode="id" width="342px" _id="selCodAuxCabeza" :middle :center>
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-button plain-text _id="btnAuxiliar" :bottom>
          Nuevo 
        </vaadin-button>
        <vaadin-text-field caption-as-html input-prompt="Glosa general" width="474px" _id="glosaCabeza"></vaadin-text-field>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
      <vaadin-form-layout style-name="billing-formlayout" spacing="false" responsive height="241px" margin-top="false" margin-bottom="false" _id="detallesFormLayout" :expand>
       <vaadin-horizontal-layout description="Proyecto" spacing>
        <vaadin-text-field description="Num de Voucher" caption="Item" enabled="false" input-prompt="Numero " style-name="form-textfield" responsive width="32px" _id="numItem"></vaadin-text-field>
        <vaadin-option-group height="36px" _id="tipoProyectoTercero">
         <option selected>VASJA/Proyectos</option>
         <option>Terceros</option>
        </vaadin-option-group>
        <vaadin-combo-box input-prompt="Cuenta proyecto o tercero" style-name="form-textfield" item-caption-mode="id" width="388px" _id="selProyectoTercero" :middle :center>
         <option>Option 1</option>
         <option>Option 2</option>
        </vaadin-combo-box>
        <vaadin-horizontal-layout spacing>
         <vaadin-text-field caption="S/." enabled="false" style-name="form-textfield" width="70px" _id="saldoProyPEN"></vaadin-text-field>
         <vaadin-text-field caption="$" enabled="false" style-name="form-textfield" width="70px" _id="saldoProyUSD"></vaadin-text-field>
         <vaadin-text-field caption="€" enabled="false" style-name="form-textfield" width="70px" _id="saldoProyEUR"></vaadin-text-field>
         <vaadin-vertical-layout size-auto></vaadin-vertical-layout>
        </vaadin-horizontal-layout>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing margin-top margin-bottom>
        <vaadin-text-field caption="Glosa por detalle" input-prompt="Glosa por detalle" width="482px" height="22px" _id="glosaDetalle" :expand></vaadin-text-field>
        <tm_kod_widgets_numberfield-number-field caption="Ingreso" width="133px" _id="numIngreso"></tm_kod_widgets_numberfield-number-field>
        <tm_kod_widgets_numberfield-number-field caption="Egreso" width="152px" _id="numEgreso"></tm_kod_widgets_numberfield-number-field>
       </vaadin-horizontal-layout>
       <vaadin-horizontal-layout spacing>
        <vaadin-vertical-layout size-auto margin-top margin-bottom>
         <vaadin-horizontal-layout style-name="name-wrapper" spacing margin _id="name_wrapper9">
          <vaadin-combo-box caption="Razón social/Nombre" input-prompt="Auxiliar" style-name="form-textfield" item-caption-mode="id" width="293px" _id="selCodAuxiliar">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-button plain-text _id="btnDestino" :bottom>
            Nuevo 
          </vaadin-button>
          <vaadin-popup-date-field caption="Fecha de doc" style-name="form-textfield" _id="fechaDoc"></vaadin-popup-date-field>
          <vaadin-combo-box caption="Tipo de doc" input-prompt="Tipo de documento" style-name="form-textfield" item-caption-mode="id" width="75px" _id="selTipoDoc">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-text-field caption="Nùmero de doc" input-prompt="Serie de doc" width="45px" _id="serieDoc"></vaadin-text-field>
          <vaadin-text-field caption="." input-prompt="Nr doc" width="181px" _id="numDoc"></vaadin-text-field>
         </vaadin-horizontal-layout>
         <vaadin-horizontal-layout spacing margin-top margin-bottom>
          <vaadin-combo-box caption="Lugar de gasto" input-prompt="Lugar de gasto" style-name="form-textfield" item-caption-mode="id" width="103px" _id="selLugarGasto">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-combo-box caption="Tipo de movimiento" input-prompt="Tipo de movimiento" style-name="form-textfield" item-caption-mode="id" width="151px" _id="selTipoMov">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-combo-box caption="Cuenta contable" input-prompt="" style-name="form-textfield" item-caption-mode="id" width="117px" _id="selCtaContable">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-combo-box caption="Rubro institucional" input-prompt="Rubro Institucional" style-name="form-textfield" item-caption-mode="id" width="151px" _id="selRubroInst">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-combo-box caption="Fuente de financiacion" input-prompt="Fuente" style-name="form-textfield" item-caption-mode="id" width="124px" _id="selFuente">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-combo-box caption="Partida pptal" input-prompt="Partida presupuestal" style-name="form-textfield" item-caption-mode="id" width="166px" _id="selRubroProy">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
         </vaadin-horizontal-layout>
         <vaadin-horizontal-layout spacing>
          <vaadin-combo-box caption="Responsable de gasto" visible="false" input-prompt="Responsable" style-name="form-textfield" item-caption-mode="id" width="221px" height="22px" _id="selResponsable">
           <option>Option 1</option>
           <option>Option 2</option>
          </vaadin-combo-box>
          <vaadin-button visible="false" height="22px" plain-text _id="btnResponsable" :bottom :center>
            Editar 
          </vaadin-button>
         </vaadin-horizontal-layout>
        </vaadin-vertical-layout>
       </vaadin-horizontal-layout>
      </vaadin-form-layout>
      <vaadin-vertical-layout style-name="billing-formlayout" responsive _id="itemsVertLayout" :expand>
       <vaadin-label style-name="header-label-small" plain-text _id="order_heading">
         Operaciones de cheque 
       </vaadin-label>
       <vaadin-grid width-full height="131px" tabindex="50" _id="gridBanco"></vaadin-grid>
       <vaadin-horizontal-layout spacing margin :right>
        <vaadin-button plain-text _id="guardarBtn">
          Guardar 
        </vaadin-button>
        <vaadin-button plain-text _id="newItemBtn">
          Nuevo Item 
        </vaadin-button>
        <vaadin-button plain-text _id="modificarBtn">
          Modificar 
        </vaadin-button>
        <vaadin-button plain-text _id="anularBtn">
          Cerrar 
        </vaadin-button>
        <vaadin-button plain-text _id="eliminarBtn">
          Eliminar 
        </vaadin-button>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
  </vaadin-css-layout>
 </body>
</html>