<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin7-vertical-layout id="verticalMain" size-full margin> 
   <vaadin7-horizontal-layout spacing height="50px" margin _id="horizontalFechas" :middle :center> 
    <vaadin7-date-field _id="fechaDesde"></vaadin7-date-field> 
    <vaadin7-label size-auto plain-text>
      - 
    </vaadin7-label> 
    <vaadin7-date-field _id="fechaHasta"></vaadin7-date-field> 
    <vaadin7-combo-box invalid-allowed="false" input-prompt="Filtrar por cuenta" item-caption-mode="id" width="300px" _id="selFiltroCuenta"> 
     <option>Option 1</option> 
     <option>Option 2</option> 
     <option>Option 3</option> 
    </vaadin7-combo-box> 
    <vaadin-button plain-text _id="btnNuevoCheque">
      Nuevo cheque 
    </vaadin-button> 
    <vaadin-button plain-text _id="btnEditar">
      Ver detalle 
    </vaadin-button> 
    <vaadin-button plain-text _id="btnImprimir">
      Imprimir Voucher 
    </vaadin-button> 
    <vaadin-button plain-text _id="btnVerVoucher">
      Ver Voucher 
    </vaadin-button> 
    <vaadin7-combo-box invalid-allowed="false" item-caption-mode="id" width="46px" _id="selRepMoneda"> 
     <option>Option 1</option> 
     <option>Option 2</option> 
     <option>Option 3</option> 
    </vaadin7-combo-box> 
    <vaadin-button plain-text _id="btnReporte">
      Imprimir Reporte 
    </vaadin-button> 
   </vaadin7-horizontal-layout> 
   <vaadin7-grid editor-cancel-caption="Anular" size-full _id="gridBanco" :middle :center :expand></vaadin7-grid> 
   <vaadin7-vertical-layout size-full></vaadin7-vertical-layout> 
   <vaadin7-horizontal-layout spacing width-full height="250px" _id="horizontalSaldos"> 
    <vaadin7-vertical-layout caption="Saldo Inicial" spacing width-auto height-full _id="verticalSaldoInicial"> 
     <vaadin7-horizontal-layout visible="false" spacing :middle :center> 
      <vaadin7-label size-auto plain-text :middle>
        Saldo Inicial 
      </vaadin7-label> 
      <vaadin7-text-field caption="Sol:" enabled="false" _id="iniPEN"></vaadin7-text-field> 
      <vaadin7-text-field caption="Dólar:" enabled="false" _id="iniUSD"></vaadin7-text-field> 
      <vaadin7-text-field caption="Euro:" enabled="false" _id="iniEUR"></vaadin7-text-field> 
     </vaadin7-horizontal-layout> 
     <vaadin7-grid width="500px" height-full _id="gridSaldoInicial"></vaadin7-grid> 
    </vaadin7-vertical-layout> 
    <vaadin7-vertical-layout caption="Saldo Final" spacing size-full _id="verticalSaldoFinal" :expand> 
     <vaadin7-horizontal-layout visible="false" spacing :middle :center> 
      <vaadin7-label width-auto height="20px" plain-text :middle>
        Saldo Final 
      </vaadin7-label> 
      <vaadin7-text-field caption="Sol:" enabled="false" _id="finPEN"></vaadin7-text-field> 
      <vaadin7-text-field caption="Dólar:" enabled="false" _id="finUSD"></vaadin7-text-field> 
      <vaadin7-text-field caption="Euro:" enabled="false" _id="finEUR"></vaadin7-text-field> 
     </vaadin7-horizontal-layout> 
     <vaadin7-grid editor-save-caption="Guardar" editor-cancel-caption="Anular" width="500px" height-full _id="gridSaldoFInal"></vaadin7-grid> 
    </vaadin7-vertical-layout> 
    <vaadin7-vertical-layout spacing size-auto margin _id="verticalSaldoDelDia"> 
     <vaadin-grid-layout caption="Total del Dia" spacing width="300px" _id="gridSaldoDelDia"> 
      <row> 
       <column> 
        <vaadin7-label size-auto plain-text></vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblIng" :middle :right>
          Ingreso: 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblEgr" :middle :right>
          Egreso: 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblSaldo" :middle :right>
          Saldo: 
        </vaadin7-label> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblSol" :middle>
          Sol: 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valSolIng" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valSolEgr" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valSolSaldo" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblDolar" :middle>
          Dólar: 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valDolIng" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valDolEgr" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valDolSaldo" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin7-label size-auto plain-text _id="lblEuro" :middle>
          Euro: 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valEuroIng" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valEuroEgr" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
       <column> 
        <vaadin7-label size-auto plain-text _id="valEuroSaldo" :middle :right>
          0.00 
        </vaadin7-label> 
       </column> 
      </row> 
     </vaadin-grid-layout> 
    </vaadin7-vertical-layout> 
   </vaadin7-horizontal-layout> 
  </vaadin7-vertical-layout>  
 </body>
</html>