<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout id="verticalMain" size-full margin> 
   <vaadin-horizontal-layout spacing height="50px" margin _id="horizontalFechas" :middle :center> 
    <vaadin-date-field _id="fechaDesde"></vaadin-date-field> 
    <vaadin-label size-auto plain-text>
      - 
    </vaadin-label> 
    <vaadin-date-field _id="fechaHasta"></vaadin-date-field> 
    <vaadin-button plain-text _id="nuevoComprobante">
      Nuevo comprobante 
    </vaadin-button> 
    <vaadin-button plain-text _id="btnEditar">
      Editar 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
   <vaadin-grid editor-cancel-caption="Anular" size-full _id="gridCaja" :middle :center :expand></vaadin-grid> 
   <vaadin-vertical-layout size-full></vaadin-vertical-layout> 
   <vaadin-horizontal-layout spacing width-full height="200px" _id="horizontalSaldos"> 
    <vaadin-vertical-layout caption="Saldo Inicial" size-auto _id="verticalSaldoInicial"> 
     <vaadin-grid width="400px" height="169px" _id="gridSaldoInicial"></vaadin-grid> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout caption="Saldo Final" spacing size-auto _id="verticalSaldoFinal"> 
     <vaadin-grid editor-save-caption="Guardar" editor-cancel-caption="Anular" width="400px" height="169px" _id="gridSaldoFInal"></vaadin-grid> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout spacing margin _id="verticalButtons" :expand> 
     <vaadin-button plain-text _id="btnEnviar">
       Enviar Todo a la Contabilidad 
     </vaadin-button> 
     <vaadin-button plain-text _id="btnReporteCaja">
       Imprimir Reporte de Caja 
     </vaadin-button> 
    </vaadin-vertical-layout> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>