<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="tm_kod_widgets_numberfield:tm.kod.widgets.numberfield">
  <meta charset="UTF-8" name="package-mapping" content="org_sanjose_helper:org.sanjose.helper">
  <meta charset="UTF-8" name="package-mapping" content="org_vaadin_addons_maskedtextfield:org.vaadin.addons.maskedtextfield">
  <meta charset="UTF-8" name="package-mapping" content="org_vaadin_ui:org.vaadin.ui">
 </head> 
 <body> 
  <vaadin-css-layout caption="Saldos de la cuenta" style-name="root-layout form-template-vivid" responsive width-full _id="root_layout"> 
   <vaadin-label style-name="header-label" plain-text _id="billing_header_label">
     Detalles de operacion 
   </vaadin-label> 
   <vaadin-horizontal-layout> 
    <vaadin-vertical-layout size-auto> 
     <vaadin-form-layout style-name="billing-formlayout" width="588px" margin-top="false" margin-bottom="false" _id="billing_form"> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-text-field description="Num de Voucher" caption="Nro de comprobante" enabled="false" style-name="form-textfield" width="105px" _id="numVoucher" :middle :center></vaadin-text-field> 
       <vaadin-popup-date-field caption="Fecha" description="Fecha" style-name="form-textfield" _id="dataFechaComprobante"></vaadin-popup-date-field> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout style-name="cuenta-Layout" spacing> 
       <vaadin-vertical-layout spacing> 
        <vaadin-horizontal-layout description="Proyecto" spacing> 
         <vaadin-combo-box input-prompt="Proyecto" style-name="form-textfield" item-caption-mode="id" width="215px" _id="selProyecto"> 
          <option>Option 1</option> 
          <option>Option 2</option> 
         </vaadin-combo-box> 
         <vaadin-combo-box input-prompt="Fuente" style-name="form-textfield" item-caption-mode="id" width="86px" _id="selFuente"> 
          <option>Option 1</option> 
          <option>Option 2</option> 
         </vaadin-combo-box> 
        </vaadin-horizontal-layout> 
        <vaadin-combo-box input-prompt="Tercero" style-name="form-textfield" item-caption-mode="id" width="311px" _id="selTercero"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
       </vaadin-vertical-layout> 
       <vaadin-horizontal-layout> 
        <vaadin-text-field caption="S/." enabled="false" style-name="form-textfield" width="60px" _id="saldoProyPEN"></vaadin-text-field> 
        <vaadin-text-field caption="$" enabled="false" style-name="form-textfield" width="60px" _id="saldoProyUSD"></vaadin-text-field> 
        <vaadin-text-field caption="€" enabled="false" style-name="form-textfield" width="60px" height="18px" _id="saldoProyEUR"></vaadin-text-field> 
       </vaadin-horizontal-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-form-layout> 
     <vaadin-form-layout style-name="billing-formlayout" width="590px" margin-top="false" margin-bottom="false" _id="billing_form2"> 
      <vaadin-horizontal-layout spacing> 
       <tm_kod_widgets_numberfield-number-field caption="Ingreso" _id="numIngreso"></tm_kod_widgets_numberfield-number-field> 
       <tm_kod_widgets_numberfield-number-field caption="Egreso" _id="numEgreso"></tm_kod_widgets_numberfield-number-field> 
       <vaadin-option-group caption="Moneda" item-caption-mode="id" width="94px" height="37px" _id="selMoneda" :center> 
        <option>Soles</option> 
        <option>Dolares</option> 
       </vaadin-option-group> 
       <vaadin-combo-box caption="Caja" style-name="form-textfield" item-caption-mode="id" width="66.47%" _id="selCaja"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-text-field caption="Caja S/." enabled="false" style-name="form-textfield" width="60px" _id="saldoCajaPEN"></vaadin-text-field> 
       <vaadin-text-field caption="Caja $" enabled="false" style-name="form-textfield" width="60px" _id="saldoCajaUSD"></vaadin-text-field> 
      </vaadin-horizontal-layout> 
      <vaadin-text-field input-prompt="Glosa" style-name="form-textfield" width="550px" _id="glosa"></vaadin-text-field> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-combo-box input-prompt="Responsable" style-name="form-textfield" item-caption-mode="id" width="250px" height="18px" _id="selResponsable"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-button plain-text _id="btnResponsable" :bottom>
         + Nuevo 
       </vaadin-button> 
       <vaadin-combo-box input-prompt="Lugar de gasto" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selLugarGasto" :center> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing> 
       <vaadin-vertical-layout spacing size-auto> 
        <vaadin-combo-box input-prompt="Tipo de movimiento" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selTipoMov"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Cuenta contable" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selCtaContable"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Rubro Institucional" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selRubroInst"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
        <vaadin-combo-box input-prompt="Partida presupuestal" style-name="form-textfield" item-caption-mode="id" width="140px" _id="selRubroProy"> 
         <option>Option 1</option> 
         <option>Option 2</option> 
        </vaadin-combo-box> 
       </vaadin-vertical-layout> 
       <vaadin-form-layout style-name="billing-formlayout" width="311px" margin-top="false" margin-bottom="false" _id="billing_form5"> 
        <vaadin-label size-auto plain-text _id="documento_header_label4">
          Detalles del documento 
        </vaadin-label> 
        <vaadin-horizontal-layout> 
         <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper9"> 
          <vaadin-combo-box input-prompt="Auxiliar" style-name="form-textfield" item-caption-mode="id" width="200px" height="18px" _id="selCodAuxiliar4"> 
           <option>Option 1</option> 
           <option>Option 2</option> 
          </vaadin-combo-box> 
          <vaadin-button plain-text _id="btnDestino4" :bottom>
            +Nuevo 
          </vaadin-button> 
         </vaadin-horizontal-layout> 
        </vaadin-horizontal-layout> 
        <vaadin-horizontal-layout style-name="name-wrapper" spacing _id="name_wrapper10"> 
         <vaadin-popup-date-field style-name="form-textfield" _id="fechaDoc4" :bottom></vaadin-popup-date-field> 
         <vaadin-combo-box input-prompt="Tipo de documento" style-name="form-textfield" item-caption-mode="id" _id="selTipoDoc4" :bottom> 
          <option>Option 1</option> 
          <option>Option 2</option> 
         </vaadin-combo-box> 
        </vaadin-horizontal-layout> 
        <vaadin-horizontal-layout width="190px"> 
         <vaadin-text-field input-prompt="Serie de doc" style-name="form-textfield" width="50px" _id="serieDoc4" :bottom></vaadin-text-field> 
         <vaadin-text-field input-prompt="Nr doc" style-name="form-textfield" width="100px" _id="numDoc4" :bottom></vaadin-text-field> 
        </vaadin-horizontal-layout> 
       </vaadin-form-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-form-layout> 
    </vaadin-vertical-layout> 
    <vaadin-form-layout style-name="billing-formlayout" size-auto margin-top="false" margin-bottom="false" _id="billing_form6" :bottom> 
     <vaadin-vertical-layout size-auto> 
      <vaadin-button plain-text _id="guardarBtn">
        Guardar 
      </vaadin-button> 
      <vaadin-button plain-text _id="cancelarBtn">
        Cancelar 
      </vaadin-button> 
      <vaadin-button plain-text _id="modificarBtn">
        Modificar 
      </vaadin-button> 
      <vaadin-button plain-text _id="anularBtn">
        Eliminar 
      </vaadin-button> 
      <vaadin-button plain-text _id="nuevoComprobante">
        Nuevo Comprobante 
      </vaadin-button> 
      <vaadin-button plain-text _id="cerrarBtn">
        Imprimir voucher 
      </vaadin-button> 
     </vaadin-vertical-layout> 
    </vaadin-form-layout> 
   </vaadin-horizontal-layout> 
  </vaadin-css-layout>  
 </body>
</html>