<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout spacing size-full>
   <vaadin-form-layout size-auto margin :middle :center>
    <vaadin-horizontal-layout spacing width-full height="20px">
     <vaadin-label plain-text :middle :center :expand>
       Reset Clave para Vasja Caja y Bancos 
     </vaadin-label>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout>
     <vaadin-label size-auto plain-text>
       El Token no esta valido. Por favor prueba otra vez. 
     </vaadin-label>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout>
     <vaadin-link caption="Regreasa a entrada" href="http://leon.local/"></vaadin-link>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout width="394px"></vaadin-horizontal-layout>
   </vaadin-form-layout>
  </vaadin-vertical-layout>
 </body>
</html>