<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout spacing size-full margin>
   <vaadin-horizontal-layout spacing _id="horizontalCabeza">
    <vaadin-date-field caption="Año" resolution="year" _id="fechaAno"></vaadin-date-field>
    <vaadin-date-field caption="Desde" _id="fecDesde"></vaadin-date-field>
    <vaadin-date-field caption="Hasta" _id="fecHasta"></vaadin-date-field>
    <vaadin-button width="120px" plain-text _id="btnBajar" :bottom :center>
      Bajar 
    </vaadin-button>
    <vaadin-button plain-text _id="btnNuevoTipoCambio" :bottom :center>
      Nuevo Tipo Cambio 
    </vaadin-button>
    <vaadin-button plain-text _id="btnEliminar" :bottom :center>
      Eliminar 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-grid caption="Tipos de Cambio" editor-save-caption="Guardar" editor-cancel-caption="Anular" width="700px" height-full editable _id="grid" :expand></vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>